.about-imgholder {
    z-index: 0;
}

.about-image {
    width: 100%;
    max-height:50rem;
    text-align: center;
}

.about-us {
    line-height: 1.6;
    font-size: 120%;
    margin: 5rem 20rem 5rem 20rem;
    text-align: justify;
}

/*Leadership style starts*/
.leadership {
    text-align: center;
    margin: 5rem 20rem 5rem 20rem;
}
.profile-picture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
/*   
  Clear floats after the columns
  .row:after {
    content: "";
    display: table;
    clear: both;
  } */
  
  /* Style the counter cards */
  .card {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    padding: 16px;
    text-align: center;
    background-color: rgb(181, 181, 181);

  }

  .profile-socialmedia {
      margin: 0 1rem 0 1rem;
      font-size: 1.5rem;
      text-decoration: none;
      color: #000;
  }

  .profile-socialmedia:hover {
    box-shadow:5px 4px 8px 5px var(--quinary);
    transition-duration: 1s;
  }

  /* Responsive columns */
  @media screen and (max-width: 650px) {
    .about-image {
        width: 100%;
        min-height:20rem;
        /* text-align: center; */
    }
    .about-us {
        margin: 2rem; 
    }
  }
  @media screen and (max-width: 1024px) {
    .about-us {
        margin: 2rem; 
    }
    .leadership {
        
        margin: 5rem 2rem 5rem 2rem;
    }
  }
  
/*Leadership style ends*/