:root {
  --primary: #254e9b;
  --secondary: #bad1a4;
  --tertiary: #266e34;
  --quatenary: #98b4e7;
  --quinary:  #DBD3D3;
  --rgb-primary: 38, 79, 156;
  --rgb-secondary: 186, 209, 164;
  --rgb-tertiary: 38, 110, 52;
  --rgb-quatemary: 128, 71, 31;
  --rgb-quinary:  219, 211, 211;
}

.error-page {
  padding: 5rem;
}

.error-text {
  background-color: black;
  color: white;
  padding: 0 .5rem 0 .5rem;
  border-radius: 25px;
}

/* if adding opacity to VAR, rgb(var(--color), <opacity>); */

html, body, main {
  height: 100%;
}

body {
  background-color: var(--quinary);
 
  font-family: 'Ubuntu', 'sans-serif';
   /* possible font weights for ubuntu
  300: light
  400: regular
  500: medium
  700: bold */
  font-weight:300;

}

main {
  display: flex;
  flex-direction: column;
  
}

.page {
  padding-top: 80px;
  flex: 1 0 auto;
  
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Rokkitt', 'serif'; */
  font-family: 'Ubuntu', 'sans-serif';

  /* possible font weights for Rokkit
  300: light
  400: regular
  500: medium
  600: semi-bold
  700: bold
  800: extra bold
  900: black */
  font-weight:600;

}

