.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--tertiary);
    width: 100%;
    padding: 1rem 0 1rem 0;
    z-index: 999;
}

.footer-content {
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-link {
    margin-right: 1rem;
    margin-left: 1rem;
}