.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--tertiary);
    width: 100%;
    padding: 1rem 0 1rem 0;
    z-index: 999;
}

.footer-content {
    color: white;
    font-family: 'Ubuntu', 'sans-serif';
    display: flex;
    justify-content: center;
    font-weight: bold;
}