.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: .5rem 0;
    background-color: var(--primary);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    align-items: center;
}

.header-logo {
    padding: 0 1rem 0 1rem;
}

.logo {
    color: white;
}

li {
    list-style: none;
    text-decoration: none;
}

.nav-links-container {
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
}

.link {
    font-family: 'Rokkitt', 'serif';
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--secondary);
    font-weight: bold;
    padding: .5rem;
    margin: 1rem;
}

.nav-row {
    display: flex;
    flex-direction: row;
}

.link:hover {
    padding: .5rem;
    border-radius: 35px;
    background-color: var(--secondary);
    color: var(--tertiary);
}

.navActive {
    background-color: var(--secondary);
    color: black;
    transition: 0.7s;
    border-radius: 35px;
    text-decoration: none;
}

.listActive {
    background-color: var(--secondary);
    color: black;
    transition: 0.7s;
    border-radius: 35px;
    padding: .5rem;
}

@media screen and (max-width: 650px) {

    .icon {
        display: block;
        padding: 1rem;
        color: white;
    }

    .navActive {
        color: black;
    }

    .header-container {
        flex-direction: column;
    }
}