.home-new {
    background-image: url('../assets/images/home-bg.jpg');
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.center-page-vh {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.home-links {
    background-color: ;
    display: flex;
    flex-direction: row;
}

.home-logo {
    height: 20rem;
    width: 20rem;
    margin-top: 5rem;
}

.home-font-small {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding: 0 2rem 0 2rem;
}

.home-button {
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
    padding: 1rem;
    border: 5px solid black;
    margin: 1rem;
}

.buttonActive {
    background-color: rgb(255, 255, 255, .6);
}

.home-button:hover {
    background-color: rgb(255, 255, 255, .4);
}

@media screen and (max-width: 650px) {
    .home-button {
        font-size: 2rem;
    }

    .home-logo {
        width: 15rem;
        height: 15rem;
    }

    .home-font-small {
        font-size: 1rem;
    }
}