.home-back {
background-image: url('../assets/images/front-page.jpg');

background-size: cover;
background-repeat: no-repeat;
}

.home-new {

    height: 100%;
    width: 100%;
    margin-top: -4rem;
    padding: 0;

}

.center-page-vh {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.home-links {
    position: fixed;
    top:1rem;
    right:0;
}
.walker-head {
    background-color: var(--tertiary);
}

.home-logo {
    height: 15rem;
    margin: 2rem auto 0 2rem
}

.home-font-small {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0 2rem;
    padding: 1px 5px;
    background-color: rgb(var(--rgb-quinary),0.8);
    border-radius: 10px;
}

.home-button {
    text-decoration: none;
    font-family: 'Rokkitt', serif;
    font-weight: 700;
    font-size: .85rem;
    color: white;
    padding: .35rem .5rem;
    margin: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.WALKER, .walker {
    border: 3px solid var(--tertiary);
    background-color: var(--tertiary);;
}

.WALKER:hover {
    color: var(--tertiary);
    background-color: var(--secondary);
}
.OWNER, .owner {
    border: 3px solid var(--primary);
    background-color: var(--primary);;
}

.OWNER:hover {
    color: var(--primary);
    background-color: var(--quatenary);
}


.buttonActive {
    display: none;
}

.more-link {
    color: var(--tertiary);
    padding: 3px 7px;
    border-radius: 5px;
    background-color: rgb(var(--rgb-quinary),0.8);
    margin-top: 8px;
    font-weight: 500;
}

.more-link:hover { 
    color: var(--primary);
}

.home-form-button {
    margin: 0 auto;
    padding: .25rem .5rem;
    border-radius: 10px;
    color: white;
    background-color: var(--primary);
    border-color: var(--primary);
}

.walker-form .home-form-button {
    background-color: var(--tertiary);
    border-color: var(--tertiary);
}

.home-form-button:hover {
    color: var(--primary);
    background-color: var(--quatenary);
}
.walker-form .home-form-button:hover {
    color: var(--tertiary);
    background-color: var(--secondary);
}

@media screen and (max-width: 650px) {
    .home-button {
        width: 100%;
    }

    .home-logo {
        width: 75%;
        margin: 3rem auto;
    }

    .home-font-small {
        font-size: 1rem;
        text-align: center;


    }
}