.background-home {
    background-image: url('../assets/images/home-samson.jpg');
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
}

.home-text {
    color: var(--secondary);
    font-family: 'Rokkitt', 'serif';
    font-size: 9rem;
    font-weight: 800;
    text-shadow: 5px 5px 10px rgb(0,0,0,0.6);
    margin: 120px 0 3px;
    padding: 0;
}

.home-text-small {
    font-size: 2rem;
    color: var(--quinary);
    font-family: 'Ubuntu', 'sans-serif';
    font-weight: bold;
    text-shadow: 3px 3px 5px rgb(0,0,0,0.8);
    padding-top: 0;
    margin-top: 0;
}

.home-content {
    position: relative;
    top: 8rem;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
}

.button-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.button {
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    border: 3px solid white;
    font-weight: bold;
    background-color: rgb(0,0,0,0.5);
}

.button:hover {
    color: black;
    background-color: white;
}

.center-h {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 650px) {
    .home-text {
        font-size: 6rem;
    }

    .background-home {
        background-image: url('../assets/images/home-pixel.jpg');
    }

    .home-content {
        padding: 2rem;
        top: 9rem;
    }

    .button-container {
        flex-direction: column;
    }
}