.page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-container {
    padding: 2rem;
    background-color: var(--tertiary);
    padding-bottom: 5rem;
    border-radius: 35px;
    width: 95%;
    height: 85%;
    margin: 2rem;
}

.mapboxgl-map {
    height: 100%;
    border-radius: 35px;
}