.payment-button{
  width: 1000px;
  height: 300px;
  font-size: 30px;
}

.page-body {
  position: absolute;
  top: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-bottom: 10rem;
}