#owners {
    display: flex;
    flex-direction: row;
    padding: 2rem 5rem 1rem;
    flex-wrap: wrap;
    flex-direction: row;
}
.page-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 0rem 2rem 10rem;
}
.walker-header {
    width: 100%;
    background-color: var(--tertiary);
    color: var(--quinary);
    padding: 0 15px;
}
.walker-picture-container {
    margin: 0 auto 0 0;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}
.walker-picture-container img, .walker-update-form img {
    border: 8px solid var(--tertiary);
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    width: 80%;
    aspect-ratio: 1 / 1;
}

.walker-update-form img  {
    border-width: 5px;
    margin: 25px 0 11px;
    width: 150px;
    height: 150px;
}

.walker-details-container {
    display: flex;
    flex-direction: column;
}

.walker-profile-container {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
    padding: 1rem;
    margin: 0rem 1rem 1rem 1rem;
    min-width: 25rem;
    background-color: var(--secondary);
    align-items: center;
    overflow: hidden;
}

.walker-contact-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    background-color: var(--secondary);
    border-radius: 15px;
    margin-bottom: 20px;
    overflow:hidden;
    padding-bottom: 15px;
}
.walker-contact-container form, .show-walkers {
    padding: 15px 7px 0 15px;
}
.indent-text {
    margin-left: 15px;
}
.user-update-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.profile-label {
    font-weight: bold;
}

.profile-input, .time-picker, .dog-weight, .treats-input, .dog-info {
    border: none;
    margin: 0 8px 8px 0;
    padding: 12px 8px;
    background:rgb(var(--rgb-quinary),0.5);
    border: none;
}
.profile-input {
    width: 50%;
}
.time-picker, .date-picker {
    width: fit-content;
}

.dog-info {
    width: 30%;
}
.dog-weight, .treats-input {
    width: 4rem; 
}
.dog-weight {
    margin-left: 20px;
}
.weight-label {
    margin-top: 12px;
    margin-right: 45px;
}
.treats-label {
    margin-top: 12px;
    margin-right: 13px;
}


.profile-input:focus {
    background-color: rgb(var(--rgb-tertiary),0.1);
}

.street-input {
    width:100%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.average-rating, .average-rating-mobile {
    width: 90%;
    background-color: rgb(var(--rgb-quinary),0.5);
    padding: .5rem;
    border-radius: 15px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.average-rating-mobile {
    display:none;
}

.account-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.walker-list-container {
    margin: 12px 15px ;
}

.walker-list-container .walker-container {
    background-color: rgb(var(--rgb-quinary),0.5);
    padding: 12px;
    margin-top: 16px;
    border-radius: 10px;
    width:100%;
}




.walks {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--rgb-quinary),0.5);
    padding: .5rem;
    border-radius: 15px;
    margin: 1rem auto;
    width: 90%;
}

.row-data {
    display: flex;
    flex-direction: row;
}

h3 .light {
    font-weight: 300;
    color: var(--secondary);
    font-size: .75em;
    white-space: nowrap;
    line-height: 1.2em;
}

button {
    color: var(--quinary);
    margin: 12px 7px 0 auto;
    width: auto;
    font-weight: 500;
    padding: 10px;
    background-color: var(--tertiary);
    border: 3px solid var(--tertiary);
    border-radius: 15px;
    text-transform: uppercase;

}
button:hover {
    cursor: pointer;
    background-color: var(--quinary);
    color: var(--tertiary);
}
.right-button {
    margin-left: 0;
}
.walker-container img {
    border-radius: 50%;
    border: 3px solid var(--tertiary);
}

@media screen and (max-width: 750px) {
    .page-wrap {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 650px) {
    #owners {
        margin-top: 7rem;
    }
    .page-body {
        flex-direction: column;
        align-items: center;
    }
    .walker-picture-container {
        margin: 0 auto 25px;
        width: 90%;
  
    }

    .upload-button {
        margin: 20px auto 0;
    }
    .walker-contact-container {
        width: 100%;
    }
    .average-rating {
        display:none;
    }
    .average-rating-mobile {
        display: flex;
    }
    .profile-input {
        width: 97%;
    }
    .row-data {
        flex-direction: column;
    }
    .button-container {
        display: flex;
        flex-direction: column;
    }
    button {
        width: 100%;
    }
    .walker-container {
        margin: 5px auto;
    }
    h4 { text-align: center;}
}