
.walker-header {
    background-color: var(--tertiary);
}
.walker-picture-container img {
    border: 8px solid var(--tertiary);
}

.walker-profile-container {
    background-color: var(--secondary);
}

.walker-contact-container {
    background-color: var(--secondary);

}



.profile-input {
    background:rgb(var(--rgb-quinary),0.5);
}
.profile-input:focus {
    background-color: rgb(var(--rgb-tertiary),0.1);
}



.average-rating {
    background-color: rgb(var(--rgb-quinary),0.5);
}


.walks {
    background-color: rgb(var(--rgb-quinary),0.5);
}

h3 .light {
    color: var(--secondary);
}

button {
    background-color: var(--tertiary);
    border: 3px solid var(--tertiary);
}
button:hover {
    color: var(--tertiary);
}

