.page-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 0rem 2rem 10rem;
}

.walker-picture-container {
    margin: 0 1rem 1rem 1rem;
}
.walker-picture-container img {
    border: 8px solid var(--secondary);
    border-radius: 50%;
}

.walker-details-container {
    display: flex;
    flex-direction: column;
}

.walker-profile-container {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
    padding: 1rem;
    margin: 0rem 1rem 1rem 1rem;
    min-width: 25rem;
    background-color: var(--secondary);
    align-items: center;
}

.walker-contact-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
<<<<<<< HEAD
    margin: 0rem 1rem 1rem 1rem;
    width: 25rem;
=======
    width: 70vw;
>>>>>>> 0588cfdd685bf938a28914e2ba3203539f50aef9
    background-color: var(--secondary);
    border-radius: 15px;
}

.user-update-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.profile-label {
    font-weight: bold;
}

.profile-input {
    border: none;
    margin: 1rem 0rem;
    padding: 0.25rem;

}

.profile-name {
    width:auto;
    background:none;
    border: none;
}

.average-rating {
    width: 90%;
    height: 10rem;
    background-color: rgb(var(--rgb-quinary),0.5);
    padding: .5rem;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.2);
    border-radius: 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-weight: bold;
}

.account-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.walks {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--rgb-quinary),0.5);
    padding: .5rem;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.2);
    border-radius: 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 90%;
}

.row-data {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 650px) {
    .page-body {
        flex-direction: column;
        align-items: center;
    }
    .walker-picture-container {
        min-width: 20rem;
        min-height: 20rem;
    }
    .walker-contact-container {
        width: 20rem;
    }
}