/* #walkers {
    display: flex;
    flex-direction: row;
    padding: 2rem 5rem 1rem;
    flex-wrap: wrap;
    flex-direction: row;
} */

h1 {
    color: var(--primary);
}

.headline {
    width: 100%;
}

.walkers-container {
    box-shadow: 10px 10px 20px rgb(0,0,0,0.25);
    background-color: white;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    width: 15%;
}


.picture-container {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}

.walker-content-container {
    padding: 2rem;
    font-weight: bold;
}

.walker-list-picture {
    height: auto;
    width: 150px;
    border: 6px solid rgb(0,0,0,.3);
    border-radius: 50%;
    padding: .5rem;

}

.button-profile-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}



.profile-button {
    padding: 1rem;
    border: 3px solid black;
    color: black;
    border-radius: 20px;
}

.profile-button:hover {
    background-color: black;
    color: white;
}




/* Walker Schedule */

.schedule-container {
    display: grid;
    grid-template-columns: 8% 92%;
    grid-template-rows: 1;
    width: 100%;
}
.schedule-container button {
    margin: 0;
    border: none;
    border-radius: 0;
    font-weight: 300;
    color: black;
}
.schedule-container button:hover {
    font-weight: 500;
}
.unavailable, .available, .booked {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: .85rem;
    padding: 0;
    min-height: 48px;
    text-transform: none;
}
.unavailable {
    background-color: #bebebe;
}
.available {
    background-color: var(--secondary);
}
.schedule-container .booked {
    background-color: var(--primary);
    color: var(--quinary);
    line-height: 1.1em;
    font-weight: 500;
    padding: 0 10px;
}
.schedule-container .booked:hover {
    background-color: var(--quinary);
    color: var(--primary);
    font-weight: 700;
}
.schedule-days {
    display: grid;
    grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.2% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.2%;
    grid-template-rows: 1;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: scroll;
}

.scroll-holder {
    overflow-x: hidden;

}


.schedule-item {
    border: solid 1px var(--quinary);
    text-align: center;
}
.schedule-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.schedule-button-container button{
    margin: 12px 0 12px 8px
}


/* .arrow-right, .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;  
} */
/* .arrow-right {
    border-left: 20px solid var(--quinary);
    margin-left: 5px;
}

.arrow-left {
    border-right:20px solid var(--quinary); 
    margin-right: 5px;
} */


.times-header, .day-header {
    color: var(--quinary);
    padding: 8px 0;
}
.times-header h5, .day-header h5 {
    font-weight: 700;
    line-height: 1.1em;
}
.times-header {
    background-color: var(--primary);
    text-align: left;
    border-top-left-radius: 15px;
    padding-left: 10px;
}
.time-label {
    text-align: left;
    background-color: var(--quatenary);
    padding: 0 10px;
    min-height: 50px;
}

.time-label h5 {
    font-weight: 500;
    color: var(--primary);
}

.day-header {
    background-color: var(--tertiary);
}
.top-right {
    border-top-right-radius: 15px;
}
.bottom-left {
    border-bottom-left-radius: 15px;

}
.bottom-right {
    border-bottom-right-radius: 15px;
}
.time-detail {
    border-color: var(--quinary);
    padding: 0;
}

@media screen and (max-width: 1125px) {
    .schedule-days {
        grid-template-columns: 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20% 20%;
    }  
 
}

@media screen and (max-width: 850px) { 
    .schedule-container {
        grid-template-columns: 15% 85%;
    }
    .schedule-days {
        grid-template-columns: 25% 25% 25% 25% 25% 25% 25% 25% 25% 25% 25% 25% 25% 25%;
    }   
}

@media screen and (max-width: 750px) { 
    .schedule-container {
        grid-template-columns: 15% 85%;
    }
    .schedule-days {
        grid-template-columns: 33% 34% 33% 33% 34% 33% 33% 34% 33% 33% 34% 33% 33% 34%;
    }   
}

@media screen and (max-width: 650px) {
    #walkers {
        flex-direction: column;
        top: 5rem;
        padding: 8rem 1rem;
    }

    .picture-container {
        height: auto;
        width: auto;
    }

    .walker-list-picture {
        height: 50%;
        width: 50%;
    }
    .schedule-container {
        grid-template-columns: 25% 75%;
    }
    .schedule-days {
        grid-template-columns: 100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 100%;

    }
}