.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 1rem;
    z-index: 999;
}

.footer-content {
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
}